{% extends 'blog/base.html' %}

{% block title %}Contacto{% endblock %}

{% block content %}
<h1>Acerca de mí</h1>
<p> ¡Hola! Soy Matías, tengo 42 años y soy analista de Marketing especializado en negocios digitales, análisis de datos y optimización de campañas. 
    <br>
    Transformo insights en acciones medibles: diseño y ejecuto campañas, analizo métricas para mejorar rendimiento y desarrollo soluciones que alinean objetivos de negocio con comportamiento de usuario.
    <br>
    <br>
   En este sitio encontrarás:
<br>
<br>
Proyectos y casos prácticos: descripción del reto, enfoque, herramientas y resultados cuantificables.
Artículos técnicos y guías: métodos, experimentos A/B, dashboards y automatizaciones.
Recursos y aprendizajes: plantillas, snippets y recomendaciones.
    <br>
    <br>
    Si querés ver ejemplos concretos de mi trabajo o contactarme para colaboración, consultoría o una oportunidad profesional, encontrás mi CV y formas de contacto en la sección "Contacto".
    <br>
    <br>

    ¡Bienvenido!

</p>

<!-- Puedes agregar un formulario o datos de contacto aquí -->
<a href="{% url 'inicio' %}">Volver a la página de inicio</a>
{% endblock %}
